serverless.yml
service: MadamTusan

# Plugin obligatorio para que el bloque stepFunctions: funcione
plugins:
  - serverless-step-functions

provider:
  name: aws
  runtime: python3.11
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::095017321977:role/LabRole
  environment:
    TABLE_MENU: ${sls:stage}-t-menu
    TABLE_PEDIDOS: ${sls:stage}-t-pedidos
    TABLE_USUARIOS: ${sls:stage}-usuarios
    TABLE_SESIONES: ${sls:stage}-sesiones
    TABLE_TRABAJADORES: ${sls:stage}-t-trabajadores
    BUCKET_MENU_IMAGE: ${sls:stage}-b-menu-images-tm-716314
    STATE_MACHINE_ARN: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:FlujoPedidosStateMachine-${sls:stage}"
    # RAPPI_API_URL: ${param:rappi_api_url, 'https://CAMBIAR-EN-OTRA-NUBE.example.com/rappi/pedidos'}
    # RAPPI_API_KEY: ${param:rappi_api_key, 'CAMBIAR_API_KEY'}

functions:

  # ── MENÚ ────────────────────────────────────────────────────────────────────

  obtener_menu:
    handler: menu/obtener_menu.lambda_handle
    events:
      - http:
          path: menu
          method: get
          cors: true

  obtener_plato:
    handler: menu/obtener_plato.lambda_handle
    events:
      - http:
          path: menu/{platoId}
          method: get
          cors: true

  crear_plato:
    handler: menu/crear_plato.lambda_handle
    events:
      - http:
          path: menu/admin/platos
          method: post
          cors: true

  actualizar_plato:
    handler: menu/actualizar_plato.lambda_handle
    events:
      - http:
          path: menu/admin/platos/{platoId}
          method: put
          cors: true

  actualizar_disponibilidad:
    handler: menu/actualizar_disponibilidad.lambda_handle
    events:
      - http:
          path: menu/admin/platos/{platoId}/stock
          method: patch
          cors: true

  eliminar_plato:
    handler: menu/eliminar_plato.lambda_handle
    events:
      - http:
          path: menu/admin/platos/{platoId}/eliminar
          method: put
          cors: true

  # ── PEDIDOS (cliente) ────────────────────────────────────────────────────────

  crear_pedido:
    handler: ordenes/crear_pedido.lambda_handle
    events:
      - http:
          path: pedidos
          method: post
          cors: true

  obtener_pedidos:
    handler: ordenes/obtener_pedidos.lambda_handle
    events:
      - http:
          path: pedidos
          method: get
          cors: true

  obtener_pedido:
    handler: ordenes/obtener_pedido.lambda_handle
    events:
      - http:
          path: pedidos/{pedido_id}
          method: get
          cors: true

  # ── USUARIOS ────────────────────────────────────────────────────────────────────

  authorizer:
    handler: usuarios/validar.lambda_handler

  registro:
    handler: usuarios/registro.lambda_handler
    events:
      - http:
          path: /usuarios/auth/registro
          method: post
          cors: true

  login:
    handler: usuarios/login.lambda_handler
    events:
      - http:
          path: /usuarios/auth/login
          method: post
          cors: true

  logout:
    handler: usuarios/logout.lambda_handler
    events:
      - http:
          path: /usuarios/auth/logout
          method: post
          cors: true
          authorizer:
            name: authorizer
            resultTtlInSeconds: 0
            type: request

  usuarioperfil:
    handler: usuarios/get_me.lambda_handler
    events:
      - http:
          path: /usuarios/users/me
          method: get
          cors: true
          authorizer:
            name: authorizer
            resultTtlInSeconds: 0
            type: request

  usuarioupdate:
    handler: usuarios/update_me.lambda_handler
    events:
      - http:
          path: /usuarios/users/update
          method: put
          cors: true
          authorizer:
            name: authorizer
            resultTtlInSeconds: 0
            type: request

  # ── FLUJO DE TRABAJO: validación y cambios de estado ──────────────────────────

  validar_stock_pedido:
    handler: ordenes/validar_stock_pedido.lambda_handle

  cambiar_estado_pedido:
    handler: ordenes/cambiar_estado_pedido.lambda_handle

  # ── FLUJO DE TRABAJO: disponibilidad de personal (lógica real, no solo paso de datos) ──

  consultar_cocinero_disponible:
    handler: ordenes/consultar_disponibilidad.lambda_handle
    environment:
      ROL: COCINERO

  consultar_despachador_disponible:
    handler: ordenes/consultar_disponibilidad.lambda_handle
    environment:
      ROL: DESPACHADOR

  consultar_repartidor_disponible:
    handler: ordenes/consultar_disponibilidad.lambda_handle
    environment:
      ROL: REPARTIDOR

  # ── FLUJO DE TRABAJO: tareas no bloqueantes en paralelo ───────────────────────

  imprimir_comanda:
    handler: ordenes/imprimir_comanda.lambda_handle

  # Llama al 2do API REST en otra nube para reflejar el estado del pedido en Rappi
  # notificar_rappi:
    # handler: ordenes/notificar_rappi.lambda_handle

  # ── FLUJO DE TRABAJO: patrón Wait for Callback with Task Token ────────────────

  # Guarda el taskToken y pone el pedido en ESPERANDO_X (invocada por Step Functions)
  asignar_tarea:
    handler: ordenes/asignar_tarea.lambda_handle

  # El trabajador llama a este endpoint cuando termina su paso del flujo
  completar_tarea:
    handler: ordenes/completar_tarea.lambda_handle
    events:
      - http:
          path: pedidos/{pedido_id}/tareas/completar
          method: put
          cors: true
          authorizer:
            name: authorizer
            resultTtlInSeconds: 0
            type: request

  crear_trabajador:
    handler: trabajadores/crear_trabajador.lambda_handle
    events:
      - http:
          path: trabajadores
          method: post
          cors: true
          authorizer:
            name: authorizer
            resultTtlInSeconds: 0
            type: request
 
  listar_trabajadores:
    handler: trabajadores/listar_trabajadores.lambda_handle
    events:
      - http:
          path: trabajadores
          method: get
          cors: true
          authorizer:
            name: authorizer
            resultTtlInSeconds: 0
            type: request
 
  eliminar_trabajador:
    handler: trabajadores/eliminar_trabajador.lambda_handle
    events:
      - http:
          path: trabajadores/{trabajador_id}/eliminar
          method: put
          cors: true
          authorizer:
            name: authorizer
            resultTtlInSeconds: 0
            type: request
            
  # ── EVENTOS ────────────────────────────────────────────────────────────────────

  notificar_cliente:
    handler: ordenes/notificar_cliente.lambda_handle
    events:
      - eventBridge:
          eventBus: default
          pattern:
            source:
              - custom.madamtusan.pedidos
            detail-type:
              - PedidoCreado
              - PasoCompletado

stepFunctions:
  stateMachines:
    FlujoPedidosStateMachine:
      name: FlujoPedidosStateMachine-${sls:stage}
      role: arn:aws:iam::095017321977:role/LabRole
      definition:
        Comment: "Orquestación completa del ciclo de vida de un pedido - MadamTusan"
        StartAt: VerificarStockDisponible
        States:

          # ── 1. Validación automática de stock ─────────────────────────────
          VerificarStockDisponible:
            Type: Task
            InputPath: $.detail
            Resource:
              Fn::GetAtt: [validar_stock_pedido, Arn]
            Next: EvaluarResultadoStock

          # ── 2. Decisión: ¿hay stock? ──────────────────────────────────────
          EvaluarResultadoStock:
            Type: Choice
            Choices:
              - Variable: "$.stock_ok"
                BooleanEquals: true
                Next: RegistrarPedidoPendiente
            Default: RechazarPedidoSinStock

          # ── 3a. Sin stock → registrar rechazo y terminar ──────────────────
          RechazarPedidoSinStock:
            Type: Task
            Resource:
              Fn::GetAtt: [cambiar_estado_pedido, Arn]
            Parameters:
              "nuevo_estado": "RECHAZADO_SIN_STOCK"
              "pedido_data.$": "$"
            ResultPath: null
            Next: PedidoFinalizadoConError

          # ── 3b. Con stock → registrar como PENDIENTE ──────────────────────
          RegistrarPedidoPendiente:
            Type: Task
            Resource:
              Fn::GetAtt: [cambiar_estado_pedido, Arn]
            Parameters:
              "nuevo_estado": "PENDIENTE"
              "pedido_data.$": "$"
            ResultPath: null
            Next: EtapaCocina

          # ── 4. ETAPA COCINA: trabajo en paralelo ──────────────────────────
          # Rama A: consulta disponibilidad real de cocineros y solo entonces
          #         espera con waitForTaskToken (Wait for Callback Pattern).
          # Rama B: imprime la comanda sin bloquear a nadie.
          # Rama C: si el pedido vino de Rappi, notifica el cambio de estado
          #         al 2do API REST en otra nube.
          EtapaCocina:
            Type: Parallel
            ResultPath: null
            Branches:
              - StartAt: ConsultarCocineroDisponible
                States:
                  ConsultarCocineroDisponible:
                    Type: Task
                    Resource:
                      Fn::GetAtt: [consultar_cocinero_disponible, Arn]
                    Next: HayCocineroLibre
                  HayCocineroLibre:
                    Type: Choice
                    Choices:
                      - Variable: "$.disponible"
                        BooleanEquals: true
                        Next: EsperarCocinero
                    Default: EsperarYReintentarCocinero
                  EsperarYReintentarCocinero:
                    Type: Wait
                    Seconds: 15
                    Next: ConsultarCocineroDisponible
                  EsperarCocinero:
                    Type: Task
                    Resource: "arn:aws:states:::lambda:invoke.waitForTaskToken"
                    Parameters:
                      FunctionName:
                        Fn::GetAtt: [asignar_tarea, Arn]
                      Payload:
                        "task_token.$": "$$.Task.Token"
                        paso: "COCINERO"
                        "trabajador_id.$": "$.trabajador_id"
                        "pedido_data.$": "$$.Execution.Input.detail"
                    HeartbeatSeconds: 1800
                    End: true
              - StartAt: ImprimirComanda
                States:
                  ImprimirComanda:
                    Type: Task
                    Resource:
                      Fn::GetAtt: [imprimir_comanda, Arn]
                    End: true
            Next: EtapaEmpaque

          # ── 5. ETAPA EMPAQUE: trabajo en paralelo ─────────────────────────
          EtapaEmpaque:
            Type: Parallel
            ResultPath: null
            Branches:
              - StartAt: ConsultarDespachadorDisponible
                States:
                  ConsultarDespachadorDisponible:
                    Type: Task
                    Resource:
                      Fn::GetAtt: [consultar_despachador_disponible, Arn]
                    Next: HayDespachadorLibre
                  HayDespachadorLibre:
                    Type: Choice
                    Choices:
                      - Variable: "$.disponible"
                        BooleanEquals: true
                        Next: EsperarDespachador
                    Default: EsperarYReintentarDespachador
                  EsperarYReintentarDespachador:
                    Type: Wait
                    Seconds: 15
                    Next: ConsultarDespachadorDisponible
                  EsperarDespachador:
                    Type: Task
                    Resource: "arn:aws:states:::lambda:invoke.waitForTaskToken"
                    Parameters:
                      FunctionName:
                        Fn::GetAtt: [asignar_tarea, Arn]
                      Payload:
                        "task_token.$": "$$.Task.Token"
                        paso: "DESPACHADOR"
                        "trabajador_id.$": "$.trabajador_id"
                        "pedido_data.$": "$$.Execution.Input.detail"
                    HeartbeatSeconds: 1800
                    End: true
            Next: EtapaReparto

          # ── 6. ETAPA REPARTO: trabajo en paralelo ─────────────────────────
          EtapaReparto:
            Type: Parallel
            ResultPath: null
            Branches:
              - StartAt: ConsultarRepartidorDisponible
                States:
                  ConsultarRepartidorDisponible:
                    Type: Task
                    Resource:
                      Fn::GetAtt: [consultar_repartidor_disponible, Arn]
                    Next: HayRepartidorLibre
                  HayRepartidorLibre:
                    Type: Choice
                    Choices:
                      - Variable: "$.disponible"
                        BooleanEquals: true
                        Next: EsperarRepartidor
                    Default: EsperarYReintentarRepartidor
                  EsperarYReintentarRepartidor:
                    Type: Wait
                    Seconds: 15
                    Next: ConsultarRepartidorDisponible
                  EsperarRepartidor:
                    Type: Task
                    Resource: "arn:aws:states:::lambda:invoke.waitForTaskToken"
                    Parameters:
                      FunctionName:
                        Fn::GetAtt: [asignar_tarea, Arn]
                      Payload:
                        "task_token.$": "$$.Task.Token"
                        paso: "REPARTIDOR"
                        "trabajador_id.$": "$.trabajador_id"
                        "pedido_data.$": "$$.Execution.Input.detail"
                    HeartbeatSeconds: 3600
                    End: true
            Next: EsperarRecepcionCliente

          # ── 7. PASO HUMANO FINAL: cliente confirma recepción ──────────────
          EsperarRecepcionCliente:
            Type: Task
            Resource: "arn:aws:states:::lambda:invoke.waitForTaskToken"
            Parameters:
              FunctionName:
                Fn::GetAtt: [asignar_tarea, Arn]
              Payload:
                "task_token.$": "$$.Task.Token"
                paso: "RECEPCION_CLIENTE"
                "pedido_data.$": "$$.Execution.Input.detail"
            HeartbeatSeconds: 3600
            Next: NotificarEntregaFinalRappi

          # ── 8. Notificación final condicional a Rappi ─────────────────────
          NotificarEntregaFinalRappi:
            Type: Choice
            Choices:
              - Variable: "$.origen"
                StringEquals: "RAPPI"
                Next: NotificarRappiEntregado
            Default: PedidoProcesadoConExito

          NotificarRappiEntregado:
            Type: Task
            Resource:
              Fn::GetAtt: [notificar_rappi, Arn]
            Parameters:
              estado: "ENTREGADO"
              "pedido_data.$": "$"
            Next: PedidoProcesadoConExito

          # ── Estados terminales ─────────────────────────────────────────────
          PedidoProcesadoConExito:
            Type: Succeed

          PedidoFinalizadoConError:
            Type: Fail
            Error: "StockAgotado"
            Cause: "Uno o más platos solicitados no cuentan con stock disponible."

resources:
  Resources:

    TablaMenu:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_MENU}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: uuid
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    TablaPedidos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_PEDIDOS}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: pedido_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: pedido_id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    # Tabla nueva: necesaria para que el Choice de disponibilidad tenga
    # algo real que consultar (no solo una decisión simulada).
    TablaTrabajadores:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_TRABAJADORES}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: trabajador_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: trabajador_id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
        GlobalSecondaryIndexes:
          - IndexName: rol-estado-index
            KeySchema:
              - AttributeName: tenant_id
                KeyType: HASH
              - AttributeName: trabajador_id
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

    BucketImagenesMenu:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BUCKET_MENU_IMAGE}

    # EventBridge rule creada manualmente para evitar que el plugin intente crear un IAM Role nuevo
    # (en LabRole no hay permisos para crear roles IAM)
    EventRulePedidoCreado:
      Type: AWS::Events::Rule
      Properties:
        Name: PedidoCreado-trigger-${sls:stage}
        EventBusName: default
        EventPattern:
          source:
            - custom.madamtusan.pedidos
          detail-type:
            - PedidoCreado
        State: ENABLED
        Targets:
          - Arn: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:FlujoPedidosStateMachine-${sls:stage}"
            Id: FlujoPedidosStateMachineTarget
            RoleArn: arn:aws:iam::095017321977:role/LabRole

    TablaUsuarios:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_USUARIOS}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: email
            KeyType: RANGE

    TablaSesiones:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_SESIONES}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: token
            AttributeType: S
        KeySchema:
          - AttributeName: token
            KeyType: HASH