serverless.yml
org: system11
service: MadamTusan

# Plugin obligatorio para que el bloque stepFunctions: funcione
plugins:
  - serverless-step-functions

provider:
  name: aws
  runtime: python3.13
  memorySize: 1024
  timeout: 20
  iam:
    role: arn:aws:iam::316137922808:role/LabRole
  environment:
    TABLE_MENU: ${sls:stage}-t-menu
    TABLE_PEDIDOS: ${sls:stage}-t-pedidos
    BUCKET_MENU_IMAGE: ${sls:stage}-b-menu-images

functions:

  # ── MENÚ ────────────────────────────────────────────────────────────────────

  obtener_menu:
    handler: menu/obtener_menu.lambda_handle
    events:
      - http:
          path: menu
          method: get
          cors: true

  obtener_plato:
    handler: menu/obtener_plato.lambda_handle
    events:
      - http:
          path: menu/{platoId}
          method: get
          cors: true

  crear_plato:
    handler: menu/crear_plato.lambda_handle
    events:
      - http:
          path: menu/admin/platos
          method: post
          cors: true

  actualizar_plato:
    handler: menu/actualizar_plato.lambda_handle
    events:
      - http:
          path: menu/admin/platos/{platoId}
          method: put
          cors: true

  actualizar_disponibilidad:
    handler: menu/actualizar_disponibilidad.lambda_handle
    events:
      - http:
          path: menu/admin/platos/{platoId}/stock
          method: patch
          cors: true

  eliminar_plato:
    handler: menu/eliminar_plato.lambda_handle
    events:
      - http:
          path: menu/admin/platos/{platoId}/eliminar
          method: put
          cors: true

  # ── PEDIDOS (cliente) ────────────────────────────────────────────────────────

  crear_pedido:
    handler: ordenes/crear_pedido.lambda_handle
    events:
      - http:
          path: pedidos
          method: post
          cors: true

  obtener_pedidos:
    handler: ordenes/obtener_pedidos.lambda_handle
    events:
      - http:
          path: pedidos
          method: get
          cors: true

  obtener_pedido:
    handler: ordenes/obtener_pedido.lambda_handle
    events:
      - http:
          path: pedidos/{pedido_id}
          method: get
          cors: true

  # ── FLUJO DE TRABAJO ─────────────────────────────────────────────────────────

  validar_stock_pedido:
    handler: ordenes/validar_stock_pedido.lambda_handle

  cambiar_estado_pedido:
    handler: ordenes/cambiar_estado_pedido.lambda_handle

  # Guarda el taskToken y pone el pedido en ESPERANDO_X (invocada por Step Functions)
  asignar_tarea:
    handler: ordenes/asignar_tarea.lambda_handle

  # El trabajador llama a este endpoint cuando termina su paso del flujo
  completar_tarea:
    handler: ordenes/completar_tarea.lambda_handle
    events:
      - http:
          path: pedidos/{pedido_id}/tareas/completar
          method: put
          cors: true

  notificar_cliente:
    handler: ordenes/notificar_cliente.lambda_handle
    events:
      - eventBridge:
          eventBus: default
          pattern:
            source:
              - custom.madamtusan.pedidos
            detail-type:
              - PedidoCreado

stepFunctions:
  stateMachines:
    FlujoPedidosStateMachine:
      name: FlujoPedidosStateMachine-${sls:stage}
      role: arn:aws:iam::316137922808:role/LabRole
      definition:
        Comment: "Orquestación completa del ciclo de vida de un pedido - MadamTusan"
        StartAt: VerificarStockDisponible
        States:

          # ── 1. Validación automática de stock ─────────────────────────────
          VerificarStockDisponible:
            Type: Task
            Resource:
              Fn::GetAtt: [validar_stock_pedido, Arn]
            Next: EvaluarResultadoStock

          # ── 2. Decisión: ¿hay stock? ──────────────────────────────────────
          EvaluarResultadoStock:
            Type: Choice
            Choices:
              - Variable: "$.stock_ok"
                BooleanEquals: true
                Next: RegistrarPedidoPendiente
            Default: RechazarPedidoSinStock

          # ── 3a. Sin stock → registrar rechazo y terminar ──────────────────
          RechazarPedidoSinStock:
            Type: Task
            Resource:
              Fn::GetAtt: [cambiar_estado_pedido, Arn]
            Parameters:
              "nuevo_estado": "RECHAZADO_SIN_STOCK"
              "pedido_data.$": "$"
            ResultPath: null
            Next: PedidoFinalizadoConError

          # ── 3b. Con stock → registrar como PENDIENTE ──────────────────────
          RegistrarPedidoPendiente:
            Type: Task
            Resource:
              Fn::GetAtt: [cambiar_estado_pedido, Arn]
            Parameters:
              "nuevo_estado": "PENDIENTE"
              "pedido_data.$": "$"
            ResultPath: null   # el input original sigue fluyendo al siguiente estado
            Next: EsperarCocinero

          # ── 4. PASO HUMANO 1: Cocinero toma y prepara el pedido ───────────
          # Patrón: Wait for Callback with Task Token
          # La SF queda pausada hasta que el cocinero presione "Completado" en su app.
          EsperarCocinero:
            Type: Task
            Resource: "arn:aws:states:::lambda:invoke.waitForTaskToken"
            Parameters:
              FunctionName:
                Fn::GetAtt: [asignar_tarea, Arn]
              Payload:
                "task_token.$": "$$.Task.Token"
                paso: "COCINERO"
                "pedido_data.$": "$"
            HeartbeatSeconds: 1800   # timeout si el cocinero no responde en 30 min
            Next: EsperarDespachador

          # ── 5. PASO HUMANO 2: Despachador empaca la comida ────────────────
          EsperarDespachador:
            Type: Task
            Resource: "arn:aws:states:::lambda:invoke.waitForTaskToken"
            Parameters:
              FunctionName:
                Fn::GetAtt: [asignar_tarea, Arn]
              Payload:
                "task_token.$": "$$.Task.Token"
                paso: "DESPACHADOR"
                "pedido_data.$": "$"
            HeartbeatSeconds: 1800
            Next: EsperarRepartidor

          # ── 6. PASO HUMANO 3: Repartidor lleva el pedido al cliente ───────
          EsperarRepartidor:
            Type: Task
            Resource: "arn:aws:states:::lambda:invoke.waitForTaskToken"
            Parameters:
              FunctionName:
                Fn::GetAtt: [asignar_tarea, Arn]
              Payload:
                "task_token.$": "$$.Task.Token"
                paso: "REPARTIDOR"
                "pedido_data.$": "$"
            HeartbeatSeconds: 3600   # 1 hora para la entrega
            Next: EsperarRecepcionCliente

          # ── 7. PASO HUMANO 4: Cliente recibe el pedido ────────────────────
          EsperarRecepcionCliente:
            Type: Task
            Resource: "arn:aws:states:::lambda:invoke.waitForTaskToken"
            Parameters:
              FunctionName:
                Fn::GetAtt: [asignar_tarea, Arn]
              Payload:
                "task_token.$": "$$.Task.Token"
                paso: "RECEPCION_CLIENTE"
                "pedido_data.$": "$"
            HeartbeatSeconds: 3600
            Next: PedidoProcesadoConExito

          # ── Estados terminales ────────────────────────────────────────────
          PedidoProcesadoConExito:
            Type: Succeed

          PedidoFinalizadoConError:
            Type: Fail
            Error: "StockAgotado"
            Cause: "Uno o más platos solicitados no cuentan con stock disponible."

resources:
  Resources:

    TablaMenu:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_MENU}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: uuid
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: uuid
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    TablaPedidos:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.TABLE_PEDIDOS}
        AttributeDefinitions:
          - AttributeName: tenant_id
            AttributeType: S
          - AttributeName: pedido_id
            AttributeType: S
        KeySchema:
          - AttributeName: tenant_id
            KeyType: HASH
          - AttributeName: pedido_id
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST

    # no se que hice el cambio
    BucketImagenesMenu:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: ${self:provider.environment.BUCKET_MENU_IMAGE}
        PublicAccessBlockConfiguration:
          BlockPublicPolicy: false
          RestrictPublicBuckets: false
          BlockPublicAcls: false
          IgnorePublicAcls: false

    BucketImagenesMenuPolicy:
      Type: AWS::S3::BucketPolicy
      Properties:
        Bucket: !Ref BucketImagenesMenu
        PolicyDocument:
          Version: "2012-10-17"
          Statement:
            - Sid: PublicReadGetObject
              Effect: Allow
              Principal: "*"
              Action: "s3:GetObject"
              Resource: "arn:aws:s3:::${self:provider.environment.BUCKET_MENU_IMAGE}/*"

    ReglaEventBridgeFlujoPedidos:
      Type: AWS::Events::Rule
      Properties:
        EventBusName: default
        EventPattern:
          source:
            - custom.madamtusan.pedidos
          detail-type:
            - PedidoCreado
        State: ENABLED
        Targets:
          - Id: TargetFlujoPedidosStateMachine
            Arn: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:FlujoPedidosStateMachine-${sls:stage}"
            RoleArn: arn:aws:iam::316137922808:role/LabRole
            InputPath: "$.detail"
